$primaryFont: 'Roboto Condensed', sans-serif;

$blueFont: #326aab;
$whiteFont: #f4efe6;
$redFont:#d53633;
$blackFont:#000000;


$whiteBg: #f4efe6;
$redBg:#d53633;
$blueBg:#326aab;
$blackBg:#000;
$yellowBg:#e3b76e;
